.top{
	display:flex;
	background-color:#F2F2F2;
	justify-content:center;
	flex-direction:row;
}
.item{
	background-color:#C9E4F9;
	display:flex;
	width:40px;
	height:50px;
	margin:10px;
}
.item1{
	background-color:#F0E3E7;
	width:40px;
	height:30px;
	margin:10px;
	align-self:center;
}
.item2{
	background-color:#F0E3E7;
	width:30px;
	height:30px;
	margin:10px;
	align-self:center;
}
.item3{
	background-color:#F0E3E7;
	width:10px;
	height:10px;
	margin:10px;
	align-self:center;
}
.item4{
	background-color:#F0E3E7;
	width:10px;
	height:20px;
	margin:10px;
	align-self:center;
}
.search{
	background-color:#1C2A40;
	display:flex;
	justify-content:center;
	flex-direction:row;
	height:550px;
	width:100%;
}
.search .layout{
	background-color:gray;
	width:200px;
	height:50px;
	margin-top:200px;
}
.search .symbol{
	background-color:white;
	margin-top:200px;
	height:50px;
	width:100px;
	margin-left:5px;
}
.footer{
	display:flex;
	flex-direction:row;
	background-color:black;
	width:auto;
}
.logo{
	width:auto;
	height:100px;
}